{% extends 'base.html' %}
{% block slider %}
{% endblock %}
{% block content %}

  <main id="form">
    <section class="style">
      <h2>お問い合わせ</h2>
      <form action="#" method="post">
        <table>
          <tr>
            <th><label for="name">お名前</label></th>
            <td><div><input type="text" id="name" placeholder="山田　花子"></div></td>
          </tr>
          <tr>
            <th><divisibleby><label for="email">メールアドレス</label></th>
            <td><div><input type="email" id="email" placeholder="aaaa@yahoo.co.jp"></div></td>
          </tr>
          <tr>
            <th><label for="text">ご用件</label></th>
            <td><div><textarea name="text" id="text" cols="30" rows="10" placeholder="ご質問など、こちらにご入力ください。"></textarea></div></td>
          </tr>
        </table>
        <input type="submit" value="送信" class="btn">
      </form>
    </section>
  </main>


{% endblock %}

{% block script %}
{% endblock %}
{% block slider2 %}
{% endblock %}
</body>
</html>